* {
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    margin: 0 auto;
    padding: 0 auto;
}
nav{
    background-color: #c4c4c4;

}
.nav_structure{
    display: flex;
    list-style: none;
}
#breaker_start{
    margin-left: auto;
}
nav li{
    margin: 1% 1%;
}
li.link, li#breaker_start{
    margin-top: 1.7%;
}
li.link{
    margin-left: 2%;
    margin-right: 2%;
}
nav a#logo img{
    height: 100%;
    width: 120%;
}
nav p{
    font-size: 2rem;
    color: white;
    padding-top: 5.5%;
}
nav a.link{
    text-decoration: none;
    font-size: 2rem;
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
nav a:active{
    color: #d2d7c6;
}


main{
    margin-left: 5%;
}
main div#bio h1{
    font-size: 3rem;
    margin-top: 2%;
}
main div#bio p{
    font-size: 1.5rem;
    max-width: 50%;
    line-height: 2rem;
    margin: 1% 0;
}
main div#details{
    display: flex;
}
main div#coursework{
    margin-right: 5%;
}
main div#coursework h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
main div#coursework ul{
    font-size: 1.5rem;
    padding-left: 6%;
}

main div#skillset{
    width: 20%;
}
main div#skillset h2{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
main div#skillset table{
    width: 90%;
    background-color: #c4c4c4;
    text-align: center;
}
main div#skillset table thead{
    font-size: 1.2rem;
}
main div#skillset table thead tr th#un{
    padding-right: 15%;
}
main div#reference{
    margin-top: 5%;
}
main div#reference a{
    background-color: #c4c4c4;
    padding: 1% 1%;
    text-decoration: none;
    color: black;
}
main div#reference a:hover{
    color: white;
}
main div#reference a:active{
    color: #4f5e57;
}
footer{
    background-color: #c4c4c4;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
}
#out_breaker_start{
    margin-left: auto;
}
footer li{
    margin: 1rem 1.5rem;
}
footer li,a{
    color: white;
}
footer a:hover{
    color: darkgray;
}