*{
    text-align: center;
}
body{
    background-color: #939fb8;
}
header{
    padding-top: 5%;
    color: #E6E8ED;
}
header img{
    border-radius: 100%;
    width: 10%;
    height: 10%;
}
header h1{
    font-size: 3rem;
}
header h3{
    font-size: 2rem;
}
main div.button{
    margin: 5% 0;
}
main div.button a{
    color: #E6E8ED;
    background-color: #223152;
    text-decoration: none;
    border-radius: 1rem;
    padding: 1% 5%;
    font-size: 3rem;
}
main div.button a:hover{
    background-color: skyblue;
    color: white;
}
main div.button a:active{
    background-color: skyblue;
    color: #5481C4;
}
main div.button button#change{
    background-color: #223152;
    border-radius: 1rem;
    font-size: 3rem;
    padding: 1% 5.1%;
    color: #E6E8ED;
    border: none;
    margin-top: none;
}
main div.button button#change:hover{
    background-color: skyblue;
    color: white;
}
main div.button button#change:active{
    background-color: skyblue;
    color:#5481C4;
}